body{
    background-image: url('https://i.ibb.co/CB7bVYS/Untitled-3.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-color:black;
    overflow-y: auto;
    position:absolute;
    color:white;
}
p{
    color:white;
}
.tab{
    display:none;
    background-color: rgba(160, 160, 160, 0.5);
    height:80%;
    width:72vw;
    padding:6%;
    margin:7%;
    color:black;
    font-weight:bold;
    font-size:1.8vw;
    margin-top:-2%;
    overflow-y:scroll;
    position:relative;
}
.nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: rgba(160, 160, 160, 0.5);
    overflow-x:hidden;
    padding-top:7%;
    transition:0.5s;
}
.nav a{
    padding:7%, 7%, 7%, 10%;
    text-decoration: none;
    font-size:2.5vw;
    color:black;
    font-weight:bold;
    display:block;
    transition:0.3s;
    padding-top:5%;
    padding-left:10%;
    text-shadow:0.115vw 0.115vw 1vw white;
}
.nav a:hover {
    color: #f1f1f1;
    font-weight:bolder;
    font-size:3.5vw;
    text-shadow:0.15vw 0.15vw black;
}
.nav .closebtn {
    position: absolute;
    top: -1.7%;
    right: 10%;
    font-size: 3.5vw;
    margin-left: 50%;
}
#ham{
    position:absolute;
    color:white;
    font-size:2.5vw;
    margin-left:0%;
    transition:0.4s;
}
#copyright{
    width:100%;
    position:fixed;
    color:white;
    font-weight: bold;
    font-size:1.2vw;
    bottom:0;
    left:36%;
}
#fill{
    position:fixed;
    height:100%;
    width:100%;
}
.tab .closebtn{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 3.5vw;
    margin-left: 50%;
    color:black;
    text-decoration: none;
    font-weight: bold;
}
.video{
    margin-left:-7%;
    padding-bottom: 10%;
}
.titlevideo{
    color:white;
    text-shadow:0.1vw 0.1vw black;
    text-align:center;
}
.videoinfo{
    background-color: rgba(255, 255, 255, 0.315);
    height:23.7vw;
    width:36.5vw;
    float:right;
    margin-right:-6%;
    padding-top: 0.5%;
    padding-left:0.8%;
}
.title{
    font-size:5vw;
    color:white;
    text-shadow:0.15vw 0.15vw black;
    margin-top:-5%;
    text-align:center;
    margin-bottom:10%;
}
#icons{
    float:right;
    position:relative;
    margin-right:-10%;
}
#icons img{
    height:25%;
    width:25%;
    padding-bottom:10%;
}
#icons img:hover{
    height:32%;
    width:32%;
    transition:0.2s;
}
a{
    text-decoration: none;
}
#follow{
    display:none;
    margin-left:-120%;
}

@media screen and (max-width:1300px) and (orientation:landscape){
    #icons{
        margin-right:-15%;
    }    
}

@media screen and (max-width:1300px) and (orientation:portrait){
    .nav .closebtn{
        top:-0.7%;
        font-size:10vw;
    }
    .tab .closebtn{
        font-size:10vw;
        text-shadow:0.15vw 0.15vw 2vw white;
    }
    .nav a{
        font-size:7vw;
    }
    #ham{
        font-size:9vw
    }
    .nav a:hover{
        font-size:8vw;
    }
    #copyright{
        margin-left:2.5%;
        font-size:1.97vw;
        left:22%;
    }
    .videoinfo{
        height:32.1vw;
        font-size:2.25vw;
        padding-right:1%;
    }
    .videoinfo:active{
        height:50vw;
        width:103.5%;
        font-size: 4vw;
    }
    .titlevideo{
        font-size:4.75vw;
    }
    .title{
        font-size:7vw;
    }
    .tab{
        height:inherit;
    }
    .video{
        padding-bottom:7%;
    }
    #icons{
        position:block;
        margin-top:88%;
        margin-right:9%;
    }
    #icons img{
        height:25%;
        width:25%;
        padding-top:2%;
        filter: contrast(150%);
        filter: brightness(150%);
        filter: grayscale(92%);
    }
    #icons img:hover{
        height:32%;
        width:32%;
        transition:0.2s;
    }
    #icons div{
        display:inline;
        padding-left:20%;
    }
    #follow{
        display:block;
        color:white;
        font-size:10vw;
        font-style: italic;
        font-weight: bold;
        margin-top:68vw;
        margin-left:23vw;
        transform: rotate(-1.5deg);
    }
}